

    <div class="col-xs-12 table_title">Results</div>
    <div class="col-xs-12 nopad_l-r statlist_title">
        <div class="left">Final cost savings</div>

    </div>

    <div class="col-xs-12 nopad_l-r statlist">
        <div class="finalcost">@Session["CumulativeSavings"] </div>
        <div class="finalcost_type">Cumulative savings</div>
    </div>

    <div class="col-xs-12 nopad_l-r statlist">
        <div class="finalcost">@Session["ROI"]</div>
        <div class="finalcost_type">ROI</div>
    </div>


