<div class="modal modal_confirmation fade bs-example-modal-sm" id="TrainChangeConfirm" tabindex="1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false" hidden>
    <div class="modal-dialog" style="margin-top:10%;">
        <div class="modal-content">
            <div class="modal-body" style="width:100%;">Are you sure you want to navigate to the dashboard or stay to update other trains?</div>
            <div class="modal-footer">
                <button type="button" id="Yes_Navigate" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" id="No_Navigate" class="btn btn-default">No</button>
            </div>

        </div>
    </div>
</div>
