<div class="modal modal_confirmation fade bs-example-modal-sm" id="TrainChangeConfirmPopUP" tabindex="1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false" hidden>
    <div class="modal-dialog" style="margin-top:10%;">
        <div class="modal-content">
            <div class="modal-body" style="width:100%;">You have selected a different train. There are changes that have not been updated. Are you sure you want to go to another train?</div>
            <div class="modal-footer">
                <button type="button" id="TrainYes_Navigate" class="btn btn-primary">Yes</button>
                <button type="button" id="TrainNo_Navigate" class="btn btn-default">No</button>
            </div>
        </div>
    </div>
</div>
