


@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Time series, zoomable";
}
@(Model)

@*@{
        ViewBag.Title = "TimeSeriesZoomable";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>TimeSeriesZoomable</h2>*@

